@font-face {
	font-family: Poppins;
	src: url(./fonts/Poppins-Regular.ttf);
}



*{
	font-family: 'Poppins';
   
    box-sizing: border-box;
}

/* globales */

#navbar-light {
    width: 100%;
}

li {
    text-decoration: none;
	list-style-type: none;
  }

/* container global */
.inputBuscar{
    width: 100%;
}

.containerInput{
    position: relative;
    align-items: end;
    right: 0;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 25px;
}
.lupa {
    position: absolute;
    margin-left: -30px;
    
}

.footer{
	display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.footer img{
   width: 200px;
   padding: 10px;

}
.footer li{
    color:rgb(125, 156, 161);
}
.footer a{
   text-decoration: none;
   color:rgb(125, 156, 161);  
}
.social{
	display: flex;
    flex-direction: column;
	color:rgb(125, 156, 161);
	justify-content: center;
}

.social i{
	font-size: 1.8rem;
	transition: .3s ease;
    color:rgb(125, 156, 161);
}

.social i:hover{
	
}



@media screen and (max-width: 480px){
	.footer img{
        visibility: hidden;
    }
    .footer ul{
       padding: 0;
    }
    .footer {
        -ms-text-size-adjust: auto;
     }
 
}


@media screen and (max-width: 780px){


    
}

